

.menu-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1400px;
    height: 70px;
    background-color: lightblue;
    justify-content: space-between;
    
   
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
} 
.container {
	max-width: 1200px;
	margin: 0 auto;
    
    
       
}
   
.descrizione  {
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;   
    
    
}
button{
    width: 50px;
    height: 50px;
}
 
.container img{
    width: 500px;
    height: 500px;
}
.foto1{
position: relative;
left: 550px;
}
.second-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
ul {list-style-type:none;
}
h2{
    font-size: 20px;
}
.schema1
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
.schema2
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
.schema3
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
/* Qthird main */

.third-main{
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 300px;
    border: solid 1px black;
    margin-left: 90px;

}
