

.menu-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1400px;
    height: 70px;
    background-color: lightblue;
    justify-content: space-between;
    
   
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
} 
.container {
	max-width: 1200px;
	margin: 0 auto;
    
    
       
}
.main-head{
    display: flex;
    flex-direction: row;
}
   
.descrizione  {
    margin-top: 50px;
    
    
    
}
button{
    width: 50px;
    height: 50px;
}
 
.container img{
    width: 500px;
    height: 500px;
}
.foto1{
    position: relative;
    
    }
.second-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
ul {list-style-type:none;
}
h2{
    font-size: 20px;
}
.schema1
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
.schema2
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
.schema3
 {
line-height: 40px;
border: 1px solid black;
width: 220px;
height: 600px;
padding-left: 20px;
}
/* Qthird main */

.third-main{
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 300px;
    border: solid 1px black;
    margin-left: 90px;

}
/* fourt main */
.fourth-main{
    display: flex;
    flex-direction: row-reverse;
}
.partner{
    width: 800px;
    height: 400px;
}
/* fifth main */
.fifth-main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    align-content: center;
    

}
.fifth-main img{
    width: 300px;
    height: 250px;
    
}
.fifth-main div{
    width: 300px;
}
/*sixth-main*/
.sixth-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 500px;
    justify-content: space-around;

    
    
}
.sixth-main h3{
    font-size: 40px;


}
/*seventh*/
.seventh-main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 100vh;
   
}
.
.seventh-main img{
    width: 200px;
    height: 200px;
}
#green{
    background-color: green;
    width: 200px;
    height: 200px;
}
#blue{
    background-color:blue;
    width: 200px;
    height: 200px;
}
#pink{
    background-color:pink;
    width: 200px;
    height: 200px;
}
#purple{
    background-color:purple;
    width: 200px;
    height: 200px;
}

.finale{
    margin: 0;
    height: 100vh;
}