
/*utils*/
p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-size:larger;

}
h2{
    font-size: 35px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
}
ul {list-style-type:none;
}




/*header*/

.menu-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1400px;
    height: 70px;
    background-color: lightblue;
    justify-content: space-between;
    
   
}


.container {
	max-width: 1200px;
	margin: 0 auto;
    
    
       
}
.main-head{
    display: flex;
    flex-direction: row;
}
   
.descrizione  {
    margin-top: 50px;
    
    
    
}
button{
    width: 50px;
    height: 50px;
}
 
.container img{
    width: 500px;
    height: 500px;
}
.foto1{
    position: relative;
    
    }
/*second-main*/
.second-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
   
}


.second-main button{
    width: 150px;
    height: 30px;
    background-color: blue;
    text-align: center;
    line-height: 10px;
    color: white;
    margin:  15px;
}
.schema1
 {
line-height: 40px;
border: 1px solid black;
width: 200px;
height: 600px;
padding-left: 5px;
;

}
.schema2
 {
line-height: 40px;
border: 1px solid gray;
width: 200px;
height: 600px;
padding-left: 5px;

}
.schema3
 {
line-height: 40px;
border: 1px solid gray;
width: 200px;
height: 600px;
padding-left: 5px;

}
.second-main h3{
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid gray 1px;
    
    
   
    
    
}
/* Qthird main */

.third-main{
    
    width: 1000px;
    height: 300px;
    border: solid 1px black;
    margin-left: 100px;
    margin-top: 20px;
    
    

}

.third-main button{
    width: 150px;
    height: 30px;
    background-color: blue;
    text-align: center;
    line-height: 10px;
    color: white;
    margin:  15px;
    
}
.enterprise{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.third-main h2{
    font-size: 30px;
}
/* fourt main */
.fourth-main{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    margin-top: 150px;
    height: 100vh;
}
.fourth-main button{
    width: 150px;
    height: 30px;
    background-color: blue;
    text-align: center;
    line-height: 10px;
    color: white;
    margin:  15px;
    
}
.partner{
    width: 700px;
    height: 400px;
    padding-left: 50px;
}
.foto2{
    object-fit: 20px;
    padding-left: 50px;
}
/* fifth main */
.fifth-main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    align-content: center;
    

}
.fifth-main img{
    width: 300px;
    height: 250px;
    
}
.fifth-main div{
    width: 300px;
}
/*sixth-main*/
.sixth-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 500px;
    justify-content: space-around;

    
    
}
.sixth-main h3{
    font-size: 40px;


}
/*seventh*/
.seventh-main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 100vh;
   
}
.
.seventh-main img{
    width: 200px;
    height: 200px;
}
#green{
    background-color: green;
    width: 200px;
    height: 200px;
}
#blue{
    background-color:blue;
    width: 200px;
    height: 200px;
}
#pink{
    background-color:pink;
    width: 200px;
    height: 200px;
}
#purple{
    background-color:purple;
    width: 200px;
    height: 200px;
}

.finale{
    margin: 0;
    height: 100vh;
}
/*eight*/
.eightth-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: aquamarine;
    height: 300px;
}
/*nine*/
.nineth-main{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    
    height: 100vh;
    padding: 150px;
    line-height: 80px;
    


}
#nove{
   

}
.arrow{
    text-align: end;
    
}
/*tenth*/
.tenth-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    height: 700px;
    background-color: beige;
    padding: 100px;
    line-height: 40px;
}
